/* src/styles/globals.css */

/* Reset some default browser styles */
body {
  margin: 0;
  font-family: Arial, sans-serif;
}

/* Navigation link styles */
nav a {
  color: white;
  text-decoration: none;
  padding: 10px 10px;
}

/* Navigation logo styles */
.nav-logo {
  width: 80px; /* Adjust the size as needed */
  height: auto; /* Maintain the aspect ratio */
  padding: 10px 10px;
}

.elements-default {
  padding: 11px 5px;
}

.elements-default-login {
  padding: 20px 9px;
}

.links-container {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 15px;
}

/* Expanded navigation bar styles */
.nav-expanded {
  display: flex;
  height: 110px; /* Height of the expanded navbar */
  justify-content: flex-start;
  padding: 10px;
  background-color: #124494;
  color: white;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1000;
  transition: all 0.3s ease;
}

/* Collapsed navigation bar styles */
.nav-collapsed {
  display: flex;
  height: 80px; /* Height of the collapsed navbar */
  justify-content: flex-start;
  padding: 10px;
  background-color: #124494;
  color: white;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1000;
  transition: all 0.3s ease;
}

/* Main content padding to avoid being covered by the fixed navbar */
main {
  padding-top: 110px; /* Ensure content is not covered by the fixed navbar */
}

/* Search form styles */
.search-form {
  display: flex;
  align-items: flex-start;
  padding: 20px; 
  flex: 0.9;
  height: 40px;
}

/* Search input styles */
.search-input {
  padding: 10px ;
  border: none;
  border-radius: 5px 0 0 5px; /* Rounded corners on the left side */
  flex: 1;
  outline: none;
  font-size: 17px;
  
  flex: 1;
}

/* Search button styles */
.search-button {
  padding: 10px 20px;
  background-color: #FBA920; /* Background color for the button */
  color: white;
  font-size: 17px;
  border-radius: 0 5px 5px 0; /* Rounded corners on the right side */
  cursor: pointer;
}


.search-button:hover {
  background-color: #e89d1a;
}

/* Button styles */
button {
  align-items: baseline;
  background: none;
  border: none;
  color: white;
}

.button-details {
  vertical-align: middle;
  padding: 25px 5px;
}

button:focus {
  outline: none;
}


nav > div {
  display: flex; /* 将此div设置为Flex容器 */
  align-items: flex-start; /* 在交叉轴上居中对齐所有子元素 */
  /* 根据需要添加其他样式，例如横向布局、间距等 */
}