/* src/styles/globals.css */


/* globals.css */

body {
    margin: 0;
    font-family: Arial, sans-serif;
  }
  

  nav a {
    color: white;
    text-decoration: none;
    padding: 15px 15px 15px ;
  }
  
  .nav-logo {
    width: 80px; /* 或者根据需要设置的大小 */
    height: auto; /* 保持图片的宽高比 */
  }
  
  .nav-expanded {
    display: flex;
    height: 100px; /* 导航栏展开时的高度 */
    display: flex;
    justify-content: flex-start;
    padding: 15px 15px 15px;
    background-color: #124494;
    color: white;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
    transition: all 0.3s ease;
  }
  
  .nav-collapsed {
    display: flex;
    height: 60px; /* 导航栏收起时的高度 */

    justify-content: flex-start;
    padding: 15px 15px 15px;
    background-color: #124494;
    color: white;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
    transition: all 0.3s ease;
    margin-right: 15px;
  }
  
  main {
    padding-top: 110px; /* 确保内容不被固定导航栏覆盖 */
  }
  /* __________________________________ */
  .search-form {
    display: flex;
    align-items: center;
    padding: 15px;
    flex: 0.8; 
  }
  
  .search-input {
    display: flex;
    padding: 0.5rem;
    border-radius: 4px;
    border: 1px solid #ccc;
    margin-right: 0.5rem;
    flex-grow: 1;
  }
  
  .search-button {
    padding: 0.5rem 1rem;
    background-color: #555;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .search-button:hover {
    background-color: #777;
  }
  
  button {
    background: none;
    border: none;
    cursor: pointer;
    color: white;
  }
  
  button:focus {
    outline: none;
  }